.aside {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: .3s;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
}

.nav__link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.225rem;
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
}
.nav__link:hover {
    color: hsl(43, 100%, 68%);
}
.nav__link.active{
    color: var(--first-color);
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    margin-bottom: 1.75rem;
}
.nav__toggle {
    position: fixed;
    opacity: .4;
    top: 1.25rem;
    left: 1.375rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .3s;
}

.text {
    display: none;
    text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
    .text {
        display: contents;
    }
    .logo {
        width: 35px;
    }
    .aside {
        top: -100%;
        visibility: hidden;
        width: 100%;
        padding: 6rem 0rem;
        justify-content: start;
        align-items: center;
        gap: 1.765rem;
    }
    .aside.show-menu {
        visibility: visible;
    }
    .nav {
        width: 100%;
    }

    .nav__menu {
        width: 100%;
    }

    .nav__link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 0 2.465rem;
    }
    
    .nav__toggle {
        position: fixed;
        display: flex;
        right: 0;
        z-index: 100;
        font-size: 1.725rem;
    }
    
    .nav__toggle-open {
        z-index: 100;
    }
    
    .show-menu {
        top: 0;
    }

    .copyright {
        writing-mode: horizontal-tb;
        margin-bottom: 1.75rem;
    }
    
}


