.footer {
    width: 100%;
    height: 41.5vh;
    background: linear-gradient();
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(to top, #eee5e538 20%, #3333330e 80%, #ffffff00 100%);
}
