.footer {
    width: 100%;
    height: 37vh;
    background: linear-gradient();
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(to top, #eee5e556 20%, #33333327 80%, #ffffff00 100%);
}

.image {
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: 50% 40%; 
    filter: grayscale(0.4) brightness(70%);
}
